body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url("images/background.png");
}
.answers { margin-top: 30px;}
ul li { list-style-type: none;}
table tr td { padding-left: 10px; padding-right: 10px; }
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
    margin-top: 20px;
}

/* Put some shadow to it*/
div.jumbotron {
    -webkit-box-shadow: -16px 1px 157px 28px rgba(0,0,0,0.75);
    -moz-box-shadow: -16px 1px 157px 28px rgba(0,0,0,0.75);
    box-shadow: -16px 1px 157px 28px rgba(0,0,0,0.75);
    background-color: #D8ECF2;
    border-radius: 5px;
    text-align: center;
}


#CategorySelector a:link, a:visited {
    font-size: x-large;
    font-style: normal;
    background-color: lightblue;
    color: Black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 500px;
    height: 100px;
    margin: 1em;
}
#CategorySelector a:hover, a:active {
    background-color: lightcoral;
}

/* Headline style*/
p.head {
    text-align: center;
    color: black;
    font-size: 100px;
    font-style: normal;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 1em;
}

/* Answers style */
/*div.answers{
    width: 500px;
    height: 150px;
    margin: 1em;
} */

/* Color picker style*/
.colorbox {
    display: inline-block;
    width: 15%;
    height: 75px;
    margin: 1em;
}
.colorlink {
    display: inline-block;
    display: inline-block;
    width: 15%;
    height: 75px;
    margin: 1em;
}